<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" >

<ui:composition template="templates/contentTemplate.xhtml">
    <ui:param name="formId" value="carForm"/>
    <ui:define name="content">

        <h2>Add Car:</h2>

            <div class="form-group">
                <label for="drop">Select Brand:</label>
                <br/>


                <h:selectOneMenu id="drop"  class = "btn btn-default input-class  " value="#{addCarBB.selectedCategoryEntity}"
                                 converter="#{categoryConverter}">
                    <f:selectItems  class = "btn btn-default input-class  " var="categ"
                                    value="#{addCarBB.categoriesList}"
                                    itemLabel="#{categ.name}"
                                    itemValue="#{categ}" />
                    <f:ajax listener="#{addCarBB.changeCateg()}" render="modelDrop"/>
                </h:selectOneMenu>

            </div>


        <div class="form-group">
            <label for="modelDrop">Select Model:</label>
            <br/>

            <h:selectOneMenu id="modelDrop"  class = "btn btn-default input-class  " value="#{addCarBB.selectedModel}"
                             converter="#{modelConverter}">
                <f:selectItems  class = "btn btn-default input-class  " var="carModel"
                                value="#{addCarBB.modelList}" noSelectionValue="Select One"
                                itemLabel="#{carModel.name}"
                                itemValue="#{carModel}" />
            </h:selectOneMenu>
        </div>


        <div class="form-group">
            <label for="provider">Select Model:</label>
            <br/>

            <h:selectOneMenu id="provider"  class = "btn btn-default input-class  " value="#{addCarBB.currentCar.provider}"
                             converter="#{providerConverter}">
                <f:selectItems  class = "btn btn-default input-class  " var="provider"
                                value="#{addCarBB.providerList}" noSelectionValue="Select One"
                                itemLabel="#{provider.name}"
                                itemValue="#{provider}" />
            </h:selectOneMenu>
        </div>


        <div class="form-group ">
            <div class="input-class">
                <label for="price" >Price:</label>
                <h:inputText type="text" class="form-control "  id="price"  value= "#{addCarBB.currentCar.price}" converterMessage="Please enter digits only."  />
            </div>
            <!--<div style = "display: inline-block;" >-->
            <!--<h:messages for="inputYear"   style="float:right" class="fineMessages" />-->

            <!--</div>-->

        </div>

        <!--<h:form id="form" method="post" target="/upload" enctype="multipart/form-data">-->
            <!--<h:inputFile value="#{addCarBB.image}">-->
                <!--<f:ajax listener="#{addCarBB.submit}" />-->
            <!--</h:inputFile>-->
            <!--<input type="file"/>-->
            <!--<input type="submit" value="Submit"/>-->
        <!--</h:form>-->

        <!--<h:form id="form" method="post" enctype="multipart/form-data">-->
            <!--<br />-->
            <!--<h:outputLabel fimagefile">File:</h:outputLabel>-->
            <!--<hh:inputFile imagefile" value="#{addCaimagefile}" />-->
            <!--<h:outputText value="File #{addCaimagefile.name} successfully uploaded!"-->
                          <!--rendered="#{not empty addCaimagefile}" />-->
            <!--<br />-->
            <!--<h:commandButton value="submit" action="#{addCarBB.submit}" />-->
            <!--<h:messages />-->
        <!--</h:form>-->



        <div id = "inputFuel" class="form-group ">

            <label for="selectFuel" >Fuel:</label>
            <br/>
            <h:selectOneMenu class = "btn btn-default input-class" id="selectFuel" value ="#{addCarBB.currentCar.fuel}">
                <f:selectItems  class = "btn btn-default input-class  "  value="#{addCarBB.fuel}" />
            </h:selectOneMenu>
        </div>

        <div id = "inputColor" class="form-group ">
                <div class="input-class">
                    <label for="usr" >Color:</label>
                    <h:inputText type="text" class="form-control "  id="usr"  value= "#{addCarBB.currentCar.color}"  />
                </div>
                <!--<div style = "display: inline-block;" >-->
                    <!--<h:messages for="inputColor"   style="float:right" class="fineMessages" />-->

                <!--</div>-->

            </div>

        <div id = "inputYear" class="form-group ">
            <div class="input-class">
                <label for="year" >Year:</label>
                <h:inputText type="text" class="form-control "  id="year"  value= "#{addCarBB.currentCar.year}" converterMessage="Please enter digits only."  />
            </div>
            <!--<div style = "display: inline-block;" >-->
                <!--<h:messages for="inputYear"   style="float:right" class="fineMessages" />-->

            <!--</div>-->

        </div>


        <div id = "inputPower" class="form-group ">
            <div class="input-class">
                <label for="power" >Engine Power cmc:</label>
                <h:inputText type="text" class="form-control "  id="power"  value= "#{addCarBB.currentCar.engine}" converterMessage="Please enter digits only."  />
            </div>
            <!--<div style = "display: inline-block;" >-->
                <!--<h:messages for="inputPower"   style="float:right" class="fineMessages" />-->
            <!--</div>-->
        </div>

        <div id = "inputNrDoors" class="form-group ">
            <div class="input-class">
                <label for="doors" >Number of Doors:</label>
                <h:inputText type="text" class="form-control "  id="doors"  value= "#{addCarBB.currentCar.doors_nr}" converterMessage="Please enter digits only."   />
            </div>
            <!--<div style = "display: inline-block;" >-->
                <!--<h:messages for="inputNrDoors"   style="float:right" class="fineMessages" />-->
            <!--</div>-->
        </div>


        <div id = "inputTranssm" class="form-group ">

            <label for="transm" >Transmission:</label>
            <br/>
            <h:selectOneMenu class = "btn btn-default input-class" id="transm"  value ="#{addCarBB.currentCar.transmission}">
                <f:selectItems  class = "btn btn-default input-class  "  value="#{addCarBB.transmission}" />
            </h:selectOneMenu>

        </div>

        <div id = "inputEmis" class="form-group ">

            <label for="emiss" >Polluant Emissions:</label>
            <br/>
            <h:selectOneMenu class = "btn btn-default input-class" id="emiss"  value ="#{addCarBB.currentCar.polluant_emissions}">
                <f:selectItems  class = "btn btn-default input-class  "  value="#{addCarBB.polluantEmissions}"/>
            </h:selectOneMenu>

        </div>

        <div class="form-group ">
            <h:selectBooleanCheckbox id="ac"  value="#{addCarBB.currentCar.ac}" />
            <label for="ac" style="margin: 10px">AC</label>

            <h:selectBooleanCheckbox id="abs"  value="#{addCarBB.currentCar.abs}" />
            <label for="abs"  style="margin: 10px">ABS</label>

            <h:selectBooleanCheckbox id="esp"  value="#{addCarBB.currentCar.esp}" />
            <label for="esp" style="margin: 10px">ESP</label>

            <h:selectBooleanCheckbox id="parkingSensors"  value="#{addCarBB.currentCar.parking_sensors}" />
            <label for="parkingSensors"  style="margin: 10px">Parking Sensors</label>
        </div>
        <h:commandButton class = "btn btn-default"  value="Add Car" action="#{addCarBB.add}" />




    </ui:define>
</ui:composition>
</html>