<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="templates/contentTemplate.xhtml">
    <ui:param name="formId" value="categoryForm"/>
    <ui:define name="content">

            <div >
                <h2>Add Brand:</h2>


                <div class="form-group ">
                    <div class="input-class">
                        <label for="usr" >Name:</label>
                        <h:inputText type="text" class="form-control "  id="usr" value= "#{addCategoryBB.newCategory.name}"  />
                    </div>
                    <div style = "display: inline-block;" >
                        <h:messages for="categoryForm"   style="float:right" class="fineMessages" />

                    </div>


                </div>
                <div >
                    <h:commandButton class = "btn btn-default"  value="Add Brand" action="#{addCategoryBB.addNewCategory()}" >
                        <f:ajax execute="categoryForm" render="categoryForm"/>
                    </h:commandButton>

                </div>

                <br></br>



                    <h:dataTable id = "myTable" class="table table-hover" value = "#{addCategoryBB.categoryEntityList}" var = "categoryEntity" >

                        <h:column>
                            <f:facet name = "header">Name</f:facet>
                            <h:outputText value="#{categoryEntity.name}" />

                        </h:column>
                        <h:column>

                            <h:panelGroup class ="modal-class " layout="block" >
                                <div class="popup-pannel" >

                                    <div id="modifDataCateg">
                                        <h:outputText value= "Edit Category: "/>
                                        <h:inputText value= "#{categoryEntity.name}" />
                                        <br/>
                                        <br/>

                                    </div>

                                    <h:commandButton value="Save" action ="#{addCategoryBB.saveEdit(categoryEntity)}">
                                        <f:ajax execute = "categoryForm" render="categoryForm"/>
                                    </h:commandButton>

                                    <h:commandButton value="Cancel"  >
                                        <f:ajax  render="categoryForm"/>
                                    </h:commandButton>

                                </div>
                            </h:panelGroup>

                            <h:commandButton class = "btn btn-default" value="Edit"  >
                                <f:ajax  event="click" onevent="showEdit(this.parentNode)"/>
                            </h:commandButton>

                        </h:column>

                        <h:column >
                            <div>
                                <h:commandButton  value="DeleteHiddenButton"  actionListener="#{addCategoryBB.deleteCategory(categoryEntity)}"  immediate="true"  style="display:none">
                                    <f:ajax render="categoryForm" />
                                </h:commandButton>

                                <h:commandButton class = "btn btn-default" value="Delete" >
                                    <f:ajax execute="@form" event="click" onevent="initDialog(this.parentNode)"/>
                                </h:commandButton>
                            </div>

                        </h:column>
                    </h:dataTable>



            </div>



        </ui:define>
</ui:composition>
</html>