<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="templates/contentTemplate.xhtml">
    <ui:param name="formId" value="modelForm"/>
    <ui:define name="content">
                    <h2>Add Model:</h2>

                        <div class="form-group">
                            <label for="drop">Select Brand:</label>
                            <br/>

                            <h:selectOneMenu id="drop" class = "btn btn-default input-class  " value="#{addCarModelBB.categoryId}">
                                <f:selectItems  class = "btn btn-default input-class  " var="categ"
                                               value="#{addCarModelBB.categoryList}"
                                               itemLabel="#{categ.name}"
                                               itemValue="#{categ.id}" />
                            </h:selectOneMenu>

                        </div>

                        <div class="form-group ">
                            <div class="input-class">
                                <label for="modelName">Model Name:</label>
                                <h:inputText type="text" class="form-control" id="modelName" value= "#{addCarModelBB.newModel}"  />

                            </div>

                            <div style = "display: inline-block;">
                                <h:messages for="modelForm" style="float:right" class="fineMessages" />

                            </div>


                        </div>



                        <h:commandButton class = "btn btn-default" value="Add Model" action="#{addCarModelBB.addNewModel()}" >
                            <f:ajax execute="modelForm" render="modelForm "/>
                        </h:commandButton>

                    <br></br>

                        <h:dataTable class="table table-hover" value = "#{addCarModelBB.modelList}" var = "model" >


                            <h:column>

                                <f:facet name = "header">Brand</f:facet>

                                <h:outputText value="#{model.categoryEntity.name}" />

                            </h:column>
                            <h:column>

                                <f:facet name = "header">Model</f:facet>

                                <h:outputText value="#{model.name}" />

                            </h:column>
                            <h:column>

                                <h:panelGroup class ="modal-class " layout="block" >
                                    <div class="popup-pannel" >

                                        <div id="modifDataCateg">
                                            <h:outputText value= "Edit Brand: "/>


                                            <h:selectOneMenu id="categorySelect"  class = "btn btn-default input-class  " value="#{model.categoryEntity}"
                                            converter="#{categoryConverter}">
                                                <f:selectItems  class = "btn btn-default input-class  " var="categ"
                                                                value="#{addCarModelBB.categoryList}"
                                                                itemLabel="#{categ.name}"
                                                                itemValue="#{categ}" />
                                            </h:selectOneMenu>



                                            <br/>
                                            <br/>

                                            <h:outputText value= "Edit Model: "/>
                                            <h:inputText value= "#{model.name}"  />

                                            <br/>
                                            <br/>

                                        </div>
                                        <h:commandButton value="Save" action ="#{addCarModelBB.saveEditPopup(model)}" >
                                            <f:ajax execute = "modelForm" render="modelForm"/>
                                        </h:commandButton>

                                        <h:commandButton value="Cancel"  >
                                            <f:ajax  render="modelForm"/>
                                        </h:commandButton>

                                    </div>
                                </h:panelGroup>

                                <h:commandButton class = "btn btn-default" value="Edit"  >
                                    <f:ajax  event="click" onevent="showEdit(this.parentNode)"/>
                                </h:commandButton>

                            </h:column>

                            <h:column>
                                <div>
                                    <h:commandButton value="DeleteHiddenButton" actionListener="#{addCarModelBB.deleteCarModel(model)}" immediate="true" style="display:none">
                                        <f:ajax render="modelForm" />
                                    </h:commandButton>

                                    <h:commandButton class = "btn btn-default" value="Delete" >
                                        <f:ajax execute="@form" event="click" onevent="initDialog(this.parentNode)"/>
                                    </h:commandButton>
                                </div>
                            </h:column>
                        </h:dataTable>


    </ui:define>
</ui:composition>
</html>













