<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="templates/contentTemplate.xhtml">
    <ui:param name="formId" value="addProvider"/>
    <ui:define name="content">

        <div>
            <h2>Add Provider</h2>

            <div class="form-group ">
                <div class="input-class">
                    <label for="usr" >Name:</label>
                    <h:inputText type="text" class="form-control "  id="usr" value= "#{addProviderBB.newProvider.name}"  />
                </div>
                <!--<div style = "display: inline-block;" >-->
                    <!--<h:messages for="categoryForm"   style="float:right" class="fineMessages" />-->
                <!--</div>-->

            </div>


            <div class="form-group ">
                <div class="input-class">
                    <label for="country" >Country:</label>
                    <h:inputText type="text" class="form-control "  id="country" value= "#{addProviderBB.newProvider.providerDetails.country}"   />
                </div>
                <!--<div style = "display: inline-block;" >-->
                    <!--<h:messages for="categoryForm"   style="float:right" class="fineMessages" />-->
                <!--</div>-->

            </div>

            <div class="form-group ">
                <div class="input-class">
                    <label for="city" >City:</label>
                    <h:inputText type="text" class="form-control "  id="city" value= "#{addProviderBB.newProvider.providerDetails.city}"     />
                </div>
                <!--<div style = "display: inline-block;" >-->
                <!--<h:messages for="categoryForm"   style="float:right" class="fineMessages" />-->

                <!--</div>-->


            </div>


            <div class="form-group ">
                <div class="input-class">
                    <label for="address" >Address:</label>
                    <h:inputText type="text" class="form-control "  id="address" value= "#{addProviderBB.newProvider.providerDetails.address}"     />
                </div>
                <!--<div style = "display: inline-block;" >-->
                <!--<h:messages for="categoryForm"   style="float:right" class="fineMessages" />-->

                <!--</div>-->


            </div>

            <div >
                <h:commandButton class = "btn btn-default"  value="Add Provider" action="#{addProviderBB.addNewProvider()}"  >
                    <f:ajax execute="addProvider" render="addProvider"/>
                </h:commandButton>

            </div>

                <!--<h:outputText value= "Name: "/>-->
                <!--<h:inputText value= "#{addProviderBB.newProvider.name}"  />-->

                <!--<br/>-->
                <!--<br/>-->

                <!--<h:outputText value= "Country: "/>-->
                <!--<h:inputText value= "#{addProviderBB.newProvider.providerDetails.country}"  />-->

                <!--<br/>-->
                <!--<br/>-->

                <!--<h:outputText value= "City: "/>-->
                <!--<h:inputText value= "#{addProviderBB.newProvider.providerDetails.city}"  />-->

                <!--<br/>-->
                <!--<br/>-->

                <!--<h:outputText value= "Address: "/>-->
                <!--<h:inputText value= "#{addProviderBB.newProvider.providerDetails.address}"  />-->

                <!--<br/>-->
                <!--<br/>-->

                <!--<h:commandButton value="Add Provider" action="#{addProviderBB.addNewProvider()}" >-->
                    <!--<f:ajax execute="addProvider" render="addProvider"/>-->
                <!--</h:commandButton>-->


            <br></br>

                <h:dataTable class="table table-hover" value = "#{addProviderBB.providers}" var = "provider" >

                    <h:column>
                        <f:facet name = "header">Name</f:facet>
                        <h:outputText value="#{provider.name}" />
                    </h:column>
                    <h:column>


                        <h:panelGroup  class ="modal-class " layout="block">
                            <div class="popup-pannel">

                                <div id="modifDataProvider">

                                    <h:outputText value= "Name: "/>
                                    <h:inputText value= "#{provider.name}"  />

                                    <br/>
                                    <br/>

                                    <h:outputText value= "Country: "/>
                                    <h:inputText value= "#{provider.providerDetails.country}"  />

                                    <br/>
                                    <br/>

                                    <h:outputText value= "City: "/>
                                    <h:inputText value= "#{provider.providerDetails.city}"  />

                                    <br/>
                                    <br/>

                                    <h:outputText value= "Address: "/>
                                    <h:inputText value= "#{provider.providerDetails.address}"  />

                                    <br/>
                                    <br/>

                                </div>

                                <h:commandButton value="Save" action ="#{addProviderBB.saveEdit(provider)}">
                                    <f:ajax execute = "addProvider" render="addProvider"/>
                                </h:commandButton>


                                <h:commandButton value="Cancel"  >
                                    <f:ajax  render="addProvider"/>
                                </h:commandButton>

                            </div>
                        </h:panelGroup>

                        <!--<h:commandButton value="Edit" action="#{addProviderBB.showEdit(provider) }"  >-->
                            <!--<f:ajax  render="addProvider"/>-->
                        <!--</h:commandButton>-->


                        <h:commandButton class = "btn btn-default" value="Edit"  >
                            <f:ajax  event="click" onevent="showEdit(this.parentNode)"/>
                        </h:commandButton>

                    </h:column>

                    <h:column>

                        <h:panelGroup  class ="modal-class " layout="block">
                            <div class="popup-pannel">

                                <div id="viewDataCateg">

                                    <h:outputText value= "Name: "/>
                                    <h:outputText value= "#{provider.name}"  />

                                    <br/>
                                    <br/>

                                    <h:outputText value= "Country: "/>
                                    <h:outputText value= "#{provider.providerDetails.country}"  />

                                    <br/>
                                    <br/>

                                    <h:outputText value= "City: "/>
                                    <h:outputText value= "#{provider.providerDetails.city}"  />

                                    <br/>
                                    <br/>

                                    <h:outputText value= "Address: "/>
                                    <h:outputText value= "#{provider.providerDetails.address}"  />

                                    <br/>
                                    <br/>

                                </div>

                                <!--<h:commandButton value="Edit" action="#{addProviderBB.showEdit(provider) }"  >-->
                                <!--<f:ajax  render="addProviderBody"/>-->
                                <!--</h:commandButton>-->

                                <!--<h:commandButton value="Delete" action ="#{addCategoryBB.hideDeletePopup()}">-->
                                <!--<f:ajax execute = "addCategBody" render="addCategBody"/>-->
                                <!--</h:commandButton>-->

                                <h:commandButton value="Cancel"  >
                                    <f:ajax  render="addProvider"/>
                                </h:commandButton>

                            </div>
                        </h:panelGroup>

                        <h:commandButton class = "btn btn-default"  value="View Details" >
                            <f:ajax  event="click" onevent="showEdit(this.parentNode)"/>
                        </h:commandButton>

                    </h:column>


                    <h:column>

                        <!--<h:commandButton value="Delete" action="#{addProviderBB.showDelete(provider)}" >-->
                            <!--<f:ajax   render="addProvider"/>-->
                        <!--</h:commandButton>-->

                        <div>
                            <h:commandButton  value="DeleteHiddenButton"  actionListener="#{addProviderBB.confirmDelete(provider)}"   immediate="true"  style="display:none">
                                <f:ajax render="addProvider" />
                            </h:commandButton>

                            <h:commandButton class = "btn btn-default" value="Delete" >
                                <f:ajax execute="@form" event="click" onevent="initDialog(this.parentNode)"/>
                            </h:commandButton>
                        </div>

                    </h:column>
                </h:dataTable>

        </div>

    </ui:define>
</ui:composition>
</html>