<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="templates/contentTemplate.xhtml">
    <ui:param name="formId" value="mainPageForm"/>
    <ui:define name="content">
        <h2>Cars:</h2>

            <table>
                <ui:repeat value="#{carListBB.carEntities}" var="car">

                    <div id="carInfo" style="background-color: aliceblue; margin: 30px; padding: 20px;">

                        <div  style="width: 60%; " id="listItem">

                            <h:outputText value="Brand : #{car.carModelEntity.categoryEntity.name}"/>
                            <br/>
                            <br/>
                            <h:outputText value="Model : #{car.carModelEntity.name}"/>
                            <br/>
                            <br/>
                            <h:outputText value="Provider : #{car.provider.name}"/>
                            <br/>
                            <br/>
                            <h:outputText value="Color : #{car.color}"/>
                            <br/>
                            <br/>
                            <h:outputText value="Fuel : #{car.fuel}"/>
                            <br/>
                            <br/>
                            <h:outputText value="Year : #{car.year}"/>
                            <br/>
                            <br/>

                        </div>

                        <div  style="width: 30%; ">

                            <!--<h:commandButton style= "width: 100px;margin:2px" value="Edit" action="#{popupBB.show(car)}">-->
                                <!--<f:ajax execute="@this" render="mainPageForm"/>-->
                            <!--</h:commandButton>-->


                            <!--<h:commandButton style= "width: 100px;margin:2px"  value="View details" action="#{popupBB.showView(car)}">-->
                                <!--<f:ajax execute="@this" render="mainPageForm"/>-->
                            <!--</h:commandButton>-->

                            <!--<h:commandButton style= "width: 100px; margin:2px" value="Delete" action="#{popupBB.showDelete(car)}">-->
                                <!--<f:ajax execute="@this" render="mainPageForm"/>-->
                            <!--</h:commandButton>-->

                            <div>
                                <h:commandButton value="DeleteHiddenButton" actionListener="#{carListBB.confirmDelete(car)}" immediate="true" style="display:none">
                                    <f:ajax render="mainPageForm" />
                                </h:commandButton>

                                <h:commandButton class = "btn btn-default" value="Delete" >
                                    <f:ajax execute="@form" event="click" onevent="initDialog(this.parentNode)"/>
                                </h:commandButton>

                            </div>

                            <div>

                                <h:panelGroup class ="modal-class " layout="block" >
                                    <div class="popup-pannel" >

                                                <div class="form-group">
                                                    <label for="drop">Select Brand:</label>
                                                    <br/>
                                                    <h:selectOneMenu id="drop"  class = "btn btn-default input-class  " value="#{carListBB.selectedCateg}"
                                                                     converter="#{categoryConverter}">
                                                        <f:selectItems  class = "btn btn-default input-class  " var="categ"
                                                                        value="#{carListBB.categoriesList}"
                                                                        itemLabel="#{categ.name}"
                                                                        itemValue="#{categ}" />
                                                        <f:ajax listener="#{carListBB.changeCateg(carListBB.selectedCateg)}" render="modelDrop"/>
                                                    </h:selectOneMenu>

                                                </div>


                                                <div class="form-group">
                                                    <label for="modelDrop">Select Model:</label>
                                                    <br/>

                                                    <h:selectOneMenu id="modelDrop"  class = "btn btn-default input-class  " value="#{car.carModelEntity}"
                                                                     converter="#{modelConverter}">
                                                        <f:selectItems  class = "btn btn-default input-class  " var="carModel"
                                                                        value="#{carListBB.modelList}" noSelectionValue="Select One"
                                                                        itemLabel="#{carModel.name}"
                                                                        itemValue="#{carModel}" />
                                                    </h:selectOneMenu>

                                                </div>

                                                <div class="form-group">
                                                    <label for="provider">Provider:</label>
                                                    <br/>

                                                    <h:selectOneMenu id="provider"  class = "btn btn-default input-class  " value="#{car.provider}"
                                                                     converter="#{providerConverter}">
                                                        <f:selectItems  class = "btn btn-default input-class  " var="provider"
                                                                        value="#{addCarBB.providerList}" noSelectionValue="Select One"
                                                                        itemLabel="#{provider.name}"
                                                                        itemValue="#{provider}" />
                                                    </h:selectOneMenu>
                                                </div>


                                                <div class="form-group ">
                                                    <div class="input-class">
                                                        <label for="price" >Price:</label>
                                                        <h:inputText type="text" class="form-control "  id="price"  value= "#{car.price}" converterMessage="Please enter digits only."  />
                                                    </div>
                                                    <!--<div style = "display: inline-block;" >-->
                                                    <!--<h:messages for="inputYear"   style="float:right" class="fineMessages" />-->

                                                    <!--</div>-->

                                                </div>

                                                <div id = "inputFuel" class="form-group ">

                                                    <label for="selectFuel" >Fuel:</label>
                                                    <br/>
                                                    <h:selectOneMenu class = "btn btn-default input-class" id="selectFuel" value ="#{car.fuel}">
                                                        <f:selectItems  class = "btn btn-default input-class  "  value="#{addCarBB.fuel}" />
                                                    </h:selectOneMenu>

                                                </div>

                                                <div id = "inputColor" class="form-group ">
                                                    <div class="input-class">
                                                        <label for="usr" >Color:</label>
                                                        <h:inputText type="text" class="form-control "  id="usr"  value= "#{car.color}"  />
                                                    </div>
                                                    <!--<div style = "display: inline-block;" >-->
                                                    <!--<h:messages for="inputColor"   style="float:right" class="fineMessages" />-->

                                                    <!--</div>-->

                                                </div>

                                                <div id = "inputYear" class="form-group ">
                                                    <div class="input-class">
                                                        <label for="year" >Year:</label>
                                                        <h:inputText type="text" class="form-control "  id="year"  value= "#{car.year}" converterMessage="Please enter digits only."  />
                                                    </div>
                                                    <!--<div style = "display: inline-block;" >-->
                                                    <!--<h:messages for="inputYear"   style="float:right" class="fineMessages" />-->

                                                    <!--</div>-->

                                                </div>

                                                <div id = "inputPower" class="form-group ">
                                                    <div class="input-class">
                                                        <label for="power" >Engine Power cmc:</label>
                                                        <h:inputText type="text" class="form-control "  id="power"  value= "#{car.engine}" converterMessage="Please enter digits only."  />
                                                    </div>
                                                    <!--<div style = "display: inline-block;" >-->
                                                    <!--<h:messages for="inputPower"   style="float:right" class="fineMessages" />-->
                                                    <!--</div>-->
                                                </div>

                                                <div id = "inputNrDoors" class="form-group ">
                                                    <div class="input-class">
                                                        <label for="doors" >Number of Doors:</label>
                                                        <h:inputText type="text" class="form-control "  id="doors"  value= "#{car.doors_nr}" converterMessage="Please enter digits only."   />
                                                    </div>
                                                    <!--<div style = "display: inline-block;" >-->
                                                    <!--<h:messages for="inputNrDoors"   style="float:right" class="fineMessages" />-->
                                                    <!--</div>-->
                                                </div>

                                                <div id = "inputTranssm" class="form-group ">

                                                    <label for="transm" >Transmission:</label>
                                                    <br/>
                                                    <h:selectOneMenu class = "btn btn-default input-class" id="transm"  value ="#{car.transmission}">
                                                        <f:selectItems  class = "btn btn-default input-class  "  value="#{addCarBB.transmission}" />
                                                    </h:selectOneMenu>

                                                </div>

                                                <div id = "inputEmis" class="form-group ">

                                                    <label for="emiss" >Polluant Emissions:</label>
                                                    <br/>
                                                    <h:selectOneMenu class = "btn btn-default input-class" id="emiss"  value ="#{car.polluant_emissions}">
                                                        <f:selectItems  class = "btn btn-default input-class  "  value="#{addCarBB.polluantEmissions}"/>
                                                    </h:selectOneMenu>

                                                </div>

                                                <div class="form-group ">

                                                    <h:selectBooleanCheckbox id="ac"  value="#{car.ac}" />
                                                    <label for="ac" style="margin: 10px">AC</label>

                                                    <h:selectBooleanCheckbox id="abs"  value="#{car.abs}" />
                                                    <label for="abs"  style="margin: 10px">ABS</label>

                                                    <h:selectBooleanCheckbox id="esp"  value="#{car.esp}" />
                                                    <label for="esp" style="margin: 10px">ESP</label>

                                                    <h:selectBooleanCheckbox id="parkingSensors"  value="#{car.parking_sensors}" />
                                                    <label for="parkingSensors"  style="margin: 10px">Parking Sensors</label>

                                                </div>

                                            <h:commandButton value="Save" action ="#{carListBB.saveEditPopup(car)}" >
                                                <f:ajax execute = "mainPageForm" render="mainPageForm"/>
                                            </h:commandButton>

                                            <h:commandButton value="Cancel"  >
                                                <f:ajax  render="mainPageForm"/>
                                            </h:commandButton>
                                    </div>

                                </h:panelGroup>

                                <h:commandButton class = "btn btn-default" value="Edit"  >
                                    <f:ajax  event="click" onevent="showEdit(this.parentNode)"/>
                                </h:commandButton>
                            </div>

                            <div>

                                <h:panelGroup class ="modal-class " layout="block" >
                                    <div class="popup-pannel" >


                                        <h:outputText value= "Category : #{car.carModelEntity.categoryEntity.name}"/>
                                        <br/>
                                        <br/>
                                        <h:outputText value= "Model : #{car.carModelEntity.name}"/>
                                        <br/>
                                        <br/>
                                        <h:outputText value= "Provider : #{car.carModelEntity.name}"/>
                                        <br/>
                                        <br/>
                                        <h:outputText value= "Price : #{car.price}"/>
                                        <br/>
                                        <br/>
                                        <h:outputText value= "Color : #{car.color}"/>
                                        <br/>
                                        <br/>
                                        <h:outputText value= "Fuel : #{car.fuel}"/>
                                        <br/>
                                        <br/>
                                        <h:outputText value= "Year : #{car.year}"/>
                                        <br/>
                                        <br/>

                                        <h:outputText value= "Engine Power cmc: #{car.engine}"/>

                                        <br/>
                                        <br/>

                                        <h:outputText value= "Number of Doors: #{car.doors_nr}"/>

                                        <br/>
                                        <br/>

                                        <h:outputText value= "Transmission: #{car.transmission}"/>

                                        <br/>
                                        <br/>
                                        <h:outputText value= "Polluant Emissions: #{car.polluant_emissions}"/>

                                        <br/>
                                        <br/>

                                        <h:outputText value= "Other Features: "/>
                                        <br/>
                                        <br/>

                                        <h:outputText value= "AC " rendered="#{car.ac}"/>
                                        <h:outputText value= "ABS " rendered="#{car.abs}"/>
                                        <h:outputText value= "ESP " rendered="#{car.esp}"/>
                                        <h:outputText value= "Parking Sensors " rendered="#{car.parking_sensors}"/>

                                        <br/>
                                        <br/>

                                        <h:commandButton value="Cancel"  >
                                            <f:ajax  render="mainPageForm"/>
                                        </h:commandButton>
                                    </div>
                                </h:panelGroup>

                                <h:commandButton class = "btn btn-default" value="View Details"  >
                                    <f:ajax  event="click" onevent="showEdit(this.parentNode)"/>
                                </h:commandButton>

                            </div>


                        </div>
                    </div>

                </ui:repeat>
            </table>


    </ui:define>
</ui:composition>
</html>