<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      >

<ui:composition template="templates/contentTemplate.xhtml">
    <ui:define name="content">

        <h2>Car:</h2>

        <h:outputText value= "Category : #{addCarBB.currentCar.carModelEntity.categoryEntity.name}"/>
        <br/>
        <br/>
        <h:outputText value= "Model : #{addCarBB.currentCar.carModelEntity.name}"/>
        <br/>
        <br/>
        <h:outputText value= "Provider : #{addCarBB.currentCar.provider.name}"/>
        <br/>
        <br/>
        <h:outputText value= "Price : #{addCarBB.currentCar.price}"/>
        <br/>
        <br/>
        <h:outputText value= "Color : #{addCarBB.currentCar.color}"/>
        <br/>
        <br/>
        <h:outputText value= "Fuel : #{addCarBB.currentCar.fuel}"/>
        <br/>
        <br/>
        <h:outputText value= "Year : #{addCarBB.currentCar.polluant_emissions}"/>
        <br/>
        <br/>
        <h:outputText value= "Year : #{addCarBB.currentCar.year}"/>
        <br/>
        <br/>

        <h:outputText value= "Engine Power cmc: #{addCarBB.currentCar.engine}"/>

        <br/>
        <br/>

        <h:outputText value= "Number of Doors: #{addCarBB.currentCar.doors_nr}"/>

        <br/>
        <br/>

        <h:outputText value= "Transmission: #{addCarBB.currentCar.transmission}"/>

        <br/>
        <br/>
        <h:outputText value= "Polluant Emissions: #{addCarBB.currentCar.polluant_emissions}"/>

        <br/>
        <br/>

        <h:outputText value= "Other Features: "/>
        <br/>
        <br/>

        <h:outputText value= "AC " rendered="#{addCarBB.currentCar.ac}"/>
        <h:outputText value= "ABS " rendered="#{addCarBB.currentCar.abs}"/>
        <h:outputText value= "ESP " rendered="#{addCarBB.currentCar.esp}"/>
        <h:outputText value= "Parking Sensors " rendered="#{addCarBB.currentCar.parking_sensors}"/>

        <br/>
        <br/>


        <h:commandButton class = "btn btn-default" value="Car List" action="mainPage" >
        </h:commandButton>



    </ui:define>
</ui:composition>
</html>













