<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
     >

<ui:composition template="/demo/mainPage.xhtml">
     <!--<ui:define name="content">-->
          <!--<iframe src="demo/rest/dashboard.html" style="width: 100%;height: 100%"/>-->
     <!--</ui:define>-->
</ui:composition>

</html>