<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="mainPageTemplate.xhtml">
    <ui:define name="body">
        <ui:include src="header.xhtml"/>
        <div class="container-fluid">
            <div class="row">
                <!--<div class="col-sm-3 col-md-2 sidebar">-->
                    <!--<ui:include src="leftmenu.xhtml"/>-->
                <!--</div>-->
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <c:if test="#{formId == null}">
                        <ui:param name="formId" value="defaultId"/>
                    </c:if>
                    <h:form id="#{formId}">
                        <ui:insert name="content"/>
                    </h:form>

                    <!--<h:form id="form" enctype="multipart/form-data">-->
                        <!--<h:inputFile id="file" value="#{addCarBB.image}" valueChangeListener="#{addCarBB.handleFileUpload}"/>-->
                        <!--<h:commandButton value="Upload" action="#{addCarBB.submit()}"/>-->
                    <!--</h:form>-->


                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>